<div class="footer container-fluid px-3 py-3">
    <div class="row px-3 pt-3">
        <div class="col-lg-6 col-md-4">
            <h1>Cloudkitchen</h1>
            <p>Good food, good eat</p>
        </div>
        <div class="col-lg-4 col-md-5 pt-3">
            <a routerLink="">Home</a>
            <a routerLink="menu">Menu</a>
            <a routerLink="about">About</a>
            <a routerLink="contact">Contact</a>
        </div>
        <div class="col-lg-2 col-md-3 pt-3">
            <a href="http://facebook.com/" target="_blank">
                <i class="bi bi-facebook"></i>
            </a>
            <a href="http://whatsapp.com/" target="_blank">
                <i class="bi bi-whatsapp"></i>
            </a>
            <a href="http://instagram.com/" target="_blank">
                <i class="bi bi-instagram"></i>
            </a>
            <a href="http://youtube.com/" target="_blank">
                <i class="bi bi-youtube"></i>
            </a>
        </div>
    </div>
</div>
