<div class="banner">
    <h1 class="text-center">About us</h1>
</div>
<div class="container mt-5 mb-5">
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Magnam quam iste rerum quo voluptatibus, aut distinctio atque cumque ipsum, eos optio beatae alias blanditiis dolores accusantium. Accusamus debitis quis
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque numquam, ut perspiciatis impedit pariatur quisquam molestiae, laborum ea veniam dolorem voluptate tempore, tempora doloribus! Eaque cupiditate nulla fugiat voluptates beatae.
    <br/>
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequatur repudiandae, voluptate quo adipisci vel architecto ducimus officiis iure dicta accusantium illum, fugiat facere sapiente, dolorem suscipit temporibus dolor nam nostrum.
    </p>
</div>
